* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    background: url(https://images.pexels.com/photos/975771/pexels-photo-975771.jpeg?cs=srgb&dl=pexels-david-ria%C3%B1o-cort%C3%A9s-975771.jpg&fm=jpg);
    background-size: cover;
}

.card-1 {
    background: linear-gradient(#000, #15be9a);
    width: 350px;
    height: 400px;
    display: inline-block;
    padding-top: 30px ;
    border-radius: 20px;
    margin-left: 580px;
    margin-top: 150px;
}
.card-1__img {
    width: 200px;
    
}
.card-1__name {
    margin: 30px 0;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Rubik Puddles', cursive;
}
.card-1__music {
}
.card-2 {
    background: linear-gradient(#dbcccc, #05150b);
    width: 350px;
    height: 400px;
    display: inline-block;
    padding-top: 30px ;
    border-radius: 20px;
    margin-left: 50px;
}

.card-2__img {
    width: 200px;
}
.card-2__name {
    margin: 30px 0;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Rubik Puddles', cursive;
}
.card-2__music {
}